<%= render '/partials/header' %>
<div class="container-fluid">
  <div class="row">
    <%= render '/partials/sidebar' %>
    <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
      <%=render '/partials/error_messages'%>
      <div class="container">
        <div class="d-flex flex-row justify-content-end">
          <div class="mr-auto p-2"><h2>My Accounts </h2></div>
          <div class="p-2"><a class="btn btn-success float-right" href="<%=new_account_path%>">Top-Up Account</a></div>
        </div>

      </div>
      <br>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Title</th>
              <th>Balance</th>

            </tr>
          </thead>
          <tbody>
            <%@accounts.each do |f|%>
              <tr>
                <td><%=f.title%></td>
                <td><%=f.balance%></td>
              </tr>
            <%end%>
          </tbody>
        </table>
      </div>

    </main>
  </div>
</div>
