<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-8 col-xl-6">
      <div class="row">
        <div class="col text-center">
          <h1>Register</h1>
          <p class="text-h3">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia. </p>
        </div>
      </div>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <div class="row align-items-center">
        <div class="col mt-4">
          <%= f.text_field :first_name,class: 'form-control',placeholder: 'First Name',autofoucs: true %>
        </div>
      </div>
      <div class="row align-items-center mt-4">
        <div class="col">
          <%= f.text_field :last_name, autocomplete: "off",class:'form-control',placeholder: 'Last Name' %>
        </div>
      </div>
      <div class="row align-items-center mt-4">
        <div class="col">
          <%= f.text_field :address, autocomplete: "off",class:'form-control',placeholder: 'Address' %>
        </div>
      </div>
      <div class="row align-items-center mt-4">
        <div class="col">
          <%= f.text_field :city, autocomplete: "off",class:'form-control',placeholder: 'City' %>
        </div>
      </div>
      <div class="row align-items-center mt-4">
        <div class="col">
          <%= f.text_field :state, autocomplete: "off",class:'form-control',placeholder: 'State' %>
        </div>
      </div>
      <div class="row align-items-center mt-4">
        <div class="col">
          <%= f.text_field :zip, autocomplete: "off",class:'form-control',placeholder: 'Zip Code' %>
        </div>
      </div>
      <div class="row align-items-center mt-4">
        <div class="col">
          <%= f.email_field :email, autocomplete: "off",class:'form-control',placeholder: 'Email' %>
        </div>
      </div>

      <div class="row align-items-center mt-4">
        <div class="col">
          <%= f.password_field :password, autocomplete: "off",class:'form-control',placeholder: 'Password' %>
        </div>
        <div class="col">
          <%= f.password_field :password_confirmation, autocomplete: "off",class:'form-control',placeholder: 'Password Confirmation' %>
        </div>
      </div>
      <div class="row justify-content-start mt-4">
        <div class="col">
          <%=f.submit 'Sign Up', class: 'form-control btn btn-secondary'%>
          <p class="text-right"><a href="<%=new_user_session_path%>">Already have an account?</a></p>
        </div>
      </div>
      <%end%>
    </div>
  </div>
</div>
